@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Xchedule R</h1>
    <p class="lead">Your Schedule, Your Way: Xchedule R.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Schedule On the Go</h2>
        <p>
            Prioritize your well-being with 'Effortless X-Ray Scheduling On the Go.' Schedule appointments anytime, anywhere, and take control of your health with ease and flexibility.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Stay In the Know: Get Notified</h2>
        <p>Receive timely email notifications for scheduled appointments, ensuring you never miss an appoinment.".</p>
    </div>
    <div class="col-md-4">
        <h2>Charting Your Care</h2>
        <p>Explore appointment trends and patient satisfaction with our Interactive Charts, providing dynamic insights for informed healthcare decisions.</p>
    </div>
</div>