@model IEnumerable<xchedulerDBFinalDraft.Models.Booking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Ratings
        </th>
        <th>
            Avg Rating
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppoinmentDetail.AppoinmentId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="rating">
                    @for (var i = 1; i <= item.Ratings; i++)
                    {
                        <span>★</span>
                    }
                    @for (var i = item.Ratings + 1; i <= 5; i++)
                    {
                        <span>☆</span>
                    }
                </div>
            </td>
            <td>
                <div class="rating">
                    @{
                        var fullStars = (int)item.Avg_Booking; // Whole stars
                        var halfStar = item.Avg_Booking - fullStars; // Decimal portion
                    }
                    @for (var i = 1; i <= fullStars; i++)
                    {
                        <span>★</span>
                    }
                    @if (halfStar > 0)
                    {
                        <span>½</span> <!-- Display a half star if there's a decimal portion -->
                    }
                    @for (var i = fullStars + 2; i <= 5; i++)
                    {
                        <span>☆</span>
                    }
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppoinmentDetail.AppoinmentId)
            </td>
        </tr>
    }

</table>
